player-connection-mode=Listen
player-connection-guid=2107461999
player-connection-debug=0
player-connection-project-name=KartProject
player-connection-ip=194.63.128.156
player-connection-ip=169.254.97.203
player-connection-ip=169.254.122.54
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
